{% extends 'base.html' %}

{% block title %}Home - DermaScan{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <main>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
               <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
               <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
               <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption text-start">
                        <h1 style="font-size: 34px;">Scan your skin. Get personalized Tips. Glow with confidence.</h1>
                        <p>Utilize the power of AI to beign your skincare journey.</p>
                        <p><a class="btn btn-lg btn-primary" href="scan">Get Started</a></p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <h1>Simpify your skincare routine.</h1>
                        <p>Avoid the guesswork. DermaScan helps you focus on what really works for you.</p>
                        <p><a class="btn btn-lg btn-primary" href="/">Learn more</a></p>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption text-end">
                        <h1>Check out our source code.</h1>
                        <p>This project is completely open-source, made using Flask.</p>
                        <p><a class="btn btn-lg btn-primary" href="https://github.com/tiwariakshat47/DermaScan/">Browse code</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
         </div>
      
         <div class="container mt-4">
          <div class="row">
              <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                  <div class="box">
                      <h1 class="box-title">Scan.</h1>
                      <p class="box-paragraph">Use your device to scan your face and get realtime analysis from our customized LLM. Our algorithim detects a plethora of different types of acne and blemishes.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                  <div class="box">
                      <h1 class="box-title">Get Recomendations.</h1>
                      <p class="box-paragraph">Interact with our chatbot that will offer personalized skincare recomendations based on our analysis, including tips for improvement and the best products suited for your skin type.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
                  <div class="box">
                      <h1 class="box-title">Quick Product Checkout.</h1>
                      <p class="box-paragraph">Once you receive your recommendations, browse through the suggested products tailored to your skins requirements. Get quick links from recomended retailers for products suited for you.</p>
                  </div>
              </div>
          </div>
      </div>
      </main>
{% endblock %}